
.idea/workspace.xml
.idea/vcs.xml
.idea/test-theme.iml
.idea/modules.xml
LIBS/fontawesome-free-5.0.10.zip
LIBS/bootstrap-4.1.0-dist.zip
.idea/watcherTasks.xml
.idea/watcherTasks.xml
.idea/watcherTasks.xml
.idea/watcherTasks.xml
*.map
css/style.css.map
*.map
*.map
*.map
test-theme.zip
