/* Text syles */
.text{
  &--right{
    text-align: right !important;
  }
  &--center{
    text-align: center !important;
  }
}
.vac{
  align-items: center;
}
.responsive{
  width: 100%;
  height: auto;
}
/* Droebiti stilebi */
.just{
  padding: 50px 0;
  div{
    margin: 25px 0;
  }
}