body{
  font-family: BPGArial;
  padding-top: 60px;
}
.header{
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: rgba(#545b62, 0.7);
  &__menu{
    font-size: 25px;
    &-icon{
      cursor: pointer;
      display: inline-block;
      padding: 10px;
    }
  }
}
.section{
  width: 100%;
  height: 100vh;
  border-bottom: 2px dotted #005cbf;
  padding: 15px;
  &__title{
    text-align: center;
    text-transform: uppercase;
    color: $text-color;
    margin-top: 20px;
  }
}
.nav{
  width: 40%;
  background: #545b62;
  position: fixed;
  top: 60px;
  right: -40%;
  transition: 300ms linear;
  &.active{
    right: 0;
    transition: 300ms linear;
    z-index: 3;
  }
}
.main-page{
  &.active{
    position: fixed;
    left: 0;
    top: 60px;
    perspective: 2000px;
    width: 55%;
    height: calc(100% - 60px);
  }
  &__perspective{
    transition: 300ms linear;
    &.active{
      width: 100%;
      height: 100%;
      transform: rotateY(45deg) translatex(-15%);
      box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
      transition: 300ms linear;
    }
  }
}

//.box{
//  width: 500px;
//  height: 500px;
//  box-shadow: 0 0 15px 3px #000;
//  margin: 100px auto;
//  perspective: 1200px;
//  &__content{
//    width: 100%;
//    height: 100%;
//    background: #dedede;
//    transition: 300ms;
//    &:hover {
//      transform: rotateY(45deg);
//      transition: 300ms;
//    }
//  }
//}