body{
  font-family: BPGArial;
  padding-top: 60px;
  background: #fbfbfb;
  color: $text-color;
}
// Header Styles
.header{
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: $main-color;
  &__menu{
    font-size: 25px;
    &-icon{
      cursor: pointer;
      display: inline-block;
      padding: 10px;
    }
  }
}
// Navigation Styles
.nav{
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0px;
  right: -250px;
  transition: 300ms linear;
  &.active{
    right: 0;
    transition: 300ms linear;
    z-index: 3;
  }
}
.navigation{
  text-align: right;
  padding-right: 30px;
  &__item{
    &-link{
      display: block;
      padding: 15px 20px;
      padding-right: 35px;
      position: relative;
      transition: 300ms;
      &:after{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $main-color;
        box-shadow: 0 0 3px rgba(#000000, 0.4);
        transition: 300ms;
      }
      &:hover{
        &:after{
          background: #1c7430;
          transition: 300ms;
        }
      }
    }
  }
}
// Sections Styles
.section{
  width: 100%;
  padding: 15px 0;
  &__title{
    text-align: center;
    text-transform: uppercase;
    color: $text-color;
    margin: 20px 0 35px 0;
    position: relative;
    &:before, &:after{
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 250px;
      background: $main-color;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:after{
      bottom: -9px;
      width: 230px;
    }
  }
}
.main-page{
  &.active{
    position: fixed;
    left: 0;
    top: 60px;
    perspective: 2000px;
    width: 80%;
    height: calc(100% - 60px);
  }
  &__perspective{
    transition: 300ms linear;
    background: #ffffff;
    &.active{
      width: 100%;
      height: 100%;
      overflow: hidden;
      transform: rotateY(45deg) translatex(-15%);
      box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
      transition: 300ms linear;
    }
  }
}
// Home Section Styles
.home{
  position: relative;
  background: url(../images/main-photo.jpg) no-repeat center;
  background-size: cover;
  height: 800px;
  padding: 0;
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom right, transparent 50%, #ffffff 51%);
    position: absolute;
    bottom: 0;
  }
  &__content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    color: $main-color;
    font-size: 48px;
    text-shadow: 0 0 10px rgba(0,0,0,.97);
    text-transform: uppercase;
  }
  &__info{
    width: 80%;
    min-height: 150px;
    background: rgba($main-color, .8);
    display: flex;
    align-items: center;
    color: $text-color;
    text-transform: uppercase;
    padding: 10px 25px;
    transform: skew(-15deg);
    border-radius: 10px;
    margin-left: 25px;
    h2{
      transform: skew(15deg);
      font-size: 25px;
    }
  }
}
// About Us Section Styles
.about{
  &__image{
    padding: 0 0 25px 25px;
    &-img{
      width: 100%;
      height: auto;
      box-shadow: -25px 25px 0 $main-color;
    }
  }
  &__title{
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__content{
    line-height: 1.7;
  }
}
// Services Section Styles
.services{
  text-align: center;
  background: url(../images/services.jpg) no-repeat center bottom;
  background-size: cover;
  position: relative;
  padding: 0;
  &:before, &:after{
    content: '';
    display: block;
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom right, #ffffff 50%, transparent 51%);
    position: absolute;
    top: 0;
  }
  &:before{
    transform: rotateY(180deg);
  }
  &:after{
    background: linear-gradient(to bottom right, transparent 50%, #ffffff 51%);
    bottom: 0;
    top: auto;
  }
  &__cover{
    padding: 50px 0;
    padding-bottom: 100px;
    background: rgba(#000000, .1);
  }
  &__item{
    background: rgba($main-color, .9);
    padding: 10px;
    margin-bottom: 10px;
    &-logo{
      font-size: 75px;
    }
  }
}
// Footer Styles
.footer{
  padding: 30px 0;
}