body{
  font-family: BPGArial;
  padding-top: 60px;
}
.header{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: rgba(#545b62, 0.7);
  &__menu{
    font-size: 25px;
    &-icon{
      cursor: pointer;
      display: inline-block;
      padding: 10px;
    }
  }
}
.section{
  width: 100%;
  height: 100vh;
  border-bottom: 2px dotted #005cbf;
  padding: 15px;
  &__title{
    text-align: center;
    text-transform: uppercase;
    color: $text-color;
    margin-top: 20px;
  }
}
.nav{
  width: 40%;
  background: #545b62;
  position: fixed;
  top: 60px;
  right: -40%;
  transition: 300ms linear;
  &.active{
    right: 0;
    transition: 300ms linear;
  }
}
.main-page{
  transition: 300ms linear;
  &.active{
    background: #005cbf;
    transition: 300ms linear;
  }
}